---
layout: default
---


{% assign code_backtick_removal = "prose-code:before:content-none prose-code:after:content-none" %}
{% assign code_selection = "prose-pre:select-all prose-code:select-all" %}

<article class="prose prose-invert {{ code_backtick_removal }} {{ code_selection }}">
  <div class="text-gray-100 text-center">
    <h1 class="text-3xl font-bold mb-2">{{ page.title }}</h1>
    <p class="text-sm">
      {{ page.date | date: "%B %e, %Y" }}
      by
      {{ page.author }}</p>
  </div>

  {{ content }}
</article>