---
layout: default
---
{% assign code_backtick_removal = 'prose-code:before:content-none prose-code:after:content-none' %}
{% assign code_selection = 'prose-pre:select-all prose-code:select-all' %}
{% assign link_hover_behavior = 'hover:prose-a:text-teal-300' %}

<div class="overflow-hidden rounded-md bg-gray-800 p-4 opacity-70 shadow sm:p-6 lg:p-8">
  <article class="prose prose-invert mt-10 prose-pre:lg:-mr-96 {{ code_backtick_removal }} {{ code_selection }} {{ link_hover_behavior }}">
    <div class="text-center text-gray-100">
      <h1 class="mb-2 text-3xl font-bold">{{ page.title }}</h1>
      <p class="text-sm">
        {{ page.date | date: '%B %e, %Y' }}
        by
        <a
          href="https://twitter.com/{{ page.data.author.twitter }}"
          rel="noopener noreferrer"
          target="_blank"
        >
          {{- page.data.author.name -}}
        </a>
      </p>
    </div>

    <section>
      {{ content }}
    </section>

    <section class="mt-12">
      {% rendercontent "posts/callouts/email_course_cta" %}
      Want five of the most powerful lessons I teach to my clients sent straight to your inbox?
      {% endrendercontent %}
    </section>
  </article>
</div>
