---
title: My OmniFocus Coaching Assets
---
{% assign download_icon = '
  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
  </svg>' %}

{% assign check_icon = '
  <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
  </svg>' %}

{% assign calendar_icon = '
  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
    <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5m-9-6h.008v.008H12v-.008zM12 15h.008v.008H12V15zm0 2.25h.008v.008H12v-.008zM9.75 15h.008v.008H9.75V15zm0 2.25h.008v.008H9.75v-.008zM7.5 15h.008v.008H7.5V15zm0 2.25h.008v.008H7.5v-.008zm6.75-4.5h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V15zm0 2.25h.008v.008h-.008v-.008zm2.25-4.5h.008v.008H16.5v-.008zm0 2.25h.008v.008H16.5V15z" />
  </svg>' %}

<div class="rounded-t-lg border-b-[1px] border-gray-200 border-opacity-30 bg-gray-800 bg-opacity-70 px-8 py-6">
  <h1 class="mb-2 text-3xl font-bold sm:mb-0">OmniFocus Perspectives</h1>

  <p>
    <small> These are the perspectives I use as a part of my daily workflow. </small>
  </p>

  <p>
    <small> Download them, unzip them, and click the resulting file to add it to your OmniFocus. </small>
  </p>
</div>

<div class="divide-y divide-gray-200 overflow-hidden rounded-b-lg shadow sm:grid sm:grid-cols-2 sm:gap-px sm:divide-y-0">
  <div class="group relative bg-gray-800 bg-opacity-70 p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500 sm:rounded-tr-none">
    <div>
      <span class="inline-flex rounded-lg bg-teal-50 p-3 text-teal-700 ring-4 ring-white">
        {{ check_icon }}
      </span>
    </div>
    <div class="mt-8">
      <h3 class="text-lg font-medium">
        <a
          href="https://drive.google.com/uc?export=download&id=17mWIG0g6VeXAvMJVlB7BAbIHtN_dF7eG"
          class="focus:outline-none"
        >
          <!-- Extend touch target to entire panel -->
          <span class="absolute inset-0" aria-hidden="true"></span>
          Next
        </a>
      </h3>
      <p class="mt-2 text-sm text-gray-400">Show the things to work on next.</p>
    </div>
    <span
      class="pointer-events-none absolute right-6 top-6 text-gray-300 group-hover:text-gray-400"
      aria-hidden="true"
    >
      {{ download_icon }}
    </span>
  </div>

  <div class="group relative bg-gray-800 bg-opacity-70 p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500">
    <div>
      <span class="inline-flex rounded-lg bg-purple-50 p-3 text-purple-700 ring-4 ring-white">
        <!-- Heroicon name: outline/check-badge -->
        <svg
          class="h-6 w-6"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M15 19.128a9.38 9.38 0 002.625.372 9.337 9.337 0 004.121-.952 4.125 4.125 0 00-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 018.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0111.964-3.07M12 6.375a3.375 3.375 0 11-6.75 0 3.375 3.375 0 016.75 0zm8.25 2.25a2.625 2.625 0 11-5.25 0 2.625 2.625 0 015.25 0z" />
        </svg>
      </span>
    </div>
    <div class="mt-8">
      <h3 class="text-lg font-medium">
        <a
          href="https://drive.google.com/uc?export=download&id=1rxrdu9XD82pnt_gLSQoBtYccKNMXUqIj"
          class="focus:outline-none"
        >
          <!-- Extend touch target to entire panel -->
          <span class="absolute inset-0" aria-hidden="true"></span>
          Agendas
        </a>
      </h3>
      <p class="mt-2 text-sm text-gray-400">
        Show only the actions that you can tackle when you're interacting with someone.
      </p>
    </div>
    <span
      class="pointer-events-none absolute right-6 top-6 text-gray-300 group-hover:text-gray-400"
      aria-hidden="true"
    >
      {{ download_icon }}
    </span>
  </div>

  <div class="group relative bg-gray-800 bg-opacity-70 p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500 sm:rounded-bl-lg">
    <div>
      <span class="inline-flex rounded-lg bg-sky-50 p-3 text-sky-700 ring-4 ring-white">
        {{ check_icon }}
      </span>
    </div>
    <div class="mt-8">
      <h3 class="text-lg font-medium">
        <a
          href="https://drive.google.com/uc?export=download&id=1HCAo1GudHcjlxtVX_VtuJTX1lXshcojx"
          class="focus:outline-none"
        >
          <!-- Extend touch target to entire panel -->
          <span class="absolute inset-0" aria-hidden="true"></span>
          No Action
        </a>
      </h3>
      <p class="mt-2 text-sm text-gray-400">Show all projects that don't have a defined next action.</p>
    </div>
    <span
      class="pointer-events-none absolute right-6 top-6 text-gray-300 group-hover:text-gray-400"
      aria-hidden="true"
    >
      {{ download_icon }}
    </span>
  </div>

  <div class="group relative rounded-bl-lg rounded-br-lg bg-gray-800 bg-opacity-70 p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500 sm:rounded-bl-none">
    <div>
      <span class="inline-flex rounded-lg bg-red-50 p-3 text-red-700 ring-4 ring-white">
        {{ check_icon }}
      </span>
    </div>
    <div class="mt-8">
      <h3 class="text-lg font-medium">
        <a
          href="https://drive.google.com/uc?export=download&id=11o_I3ny_9fDhviTKCZ6Iyk6xPR6qkmmf"
          class="focus:outline-none"
        >
          <!-- Extend touch target to entire panel -->
          <span class="absolute inset-0" aria-hidden="true"></span>
          Bad Waiting
        </a>
      </h3>
      <p class="mt-2 text-sm text-gray-400">Show on-hold tasks that are missing a due date for following up.</p>
    </div>
    <span
      class="pointer-events-none absolute right-6 top-6 text-gray-300 group-hover:text-gray-400"
      aria-hidden="true"
    >
      {{ download_icon }}
    </span>
  </div>
</div>

<div class="mt-12 rounded-t-lg border-b-[1px] border-gray-200 border-opacity-30 bg-gray-800 bg-opacity-70 px-8 py-6">
  <h1 class="mb-2 text-3xl font-bold sm:mb-0">OmniFocus Project Templates</h1>

  <p>
    <small> The following templates can be helpful as a starting point for common checklists and projects. </small>
  </p>

  <p>
    <small>
      Download them, copy the file contents to your clipboard, paste them into your inbox, and convert to a project (Cmd
      + Shift + !).
    </small>
  </p>
</div>

<div class="divide-y divide-gray-200 overflow-hidden rounded-b-lg shadow sm:grid sm:grid-cols-1 sm:gap-px sm:divide-y-0">
  <div class="group relative bg-gray-800 bg-opacity-70 p-6 focus-within:ring-2 focus-within:ring-inset focus-within:ring-indigo-500 sm:rounded-none">
    <div>
      <span class="inline-flex rounded-lg bg-teal-50 p-3 text-indigo-700 ring-4 ring-white">
        {{ calendar_icon }}
      </span>
    </div>
    <div class="mt-8">
      <h3 class="text-lg font-medium">
        <a
          href="https://drive.google.com/uc?export=download&id=1CyVDHrE0QAYBqGfCM5fkv7hW5rEj2Hzp"
          class="focus:outline-none"
        >
          <!-- Extend touch target to entire panel -->
          <span class="absolute inset-0" aria-hidden="true"></span>
          Weekly Review
        </a>
      </h3>
      <p class="mt-2 text-sm text-gray-400">Walk through the main stages of a GTD weekly review.</p>
    </div>
    <span
      class="pointer-events-none absolute right-6 top-6 text-gray-300 group-hover:text-gray-400"
      aria-hidden="true"
    >
      {{ download_icon }}
    </span>
  </div>
</div>
